extends layout.pug
block content  
  noscript="This webpage requires javascript to run."
  #root
block scripts
  script(type='text/javascript', src='/public/bundle.js')
  if env === "production"
    script(type='text/javascript', src='/public/1.bundle.js')
  